themes {
    ashen {
        fg "#d5d5d5"
        bg "#121212"
        // dark gray
        black "#121212"
        // red_ember
        red "#B14242"
        // red_ember
        green "#B14242"
        // orange_blaze
        yellow "#C4693D"
        // blue
        blue "#4A8B8B"
        // orange_blaze
        magenta "#C4693D"
        // blue
        cyan "#4A8B8B"
        // off-white
        white "#d5d5d5"
        // orange_blaze
        orange "#C4693D"
  }
}
