themes {
    reddy {
      fg "#a7a7a7"
      bg "#121212"
      black "#282828"
      red "#CC241D"
      green "#933737"
      yellow "#D79921"
      orange "#379393"
      magenta "#ac2020"
      cyan "#bd4c4c"
      white "#f5f5f5"
      blue "#f79000"
    }
}
